body {
  width:100vw;
}
.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;  
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: rgb(190, 179, 179);
  display:flex;
  flex-direction: column;
}

.logo {
  margin-left: 2rem;
  padding:2.5rem;
}

.welcomeText {
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

a {
  text-decoration: none;
  color: rgb(20, 137, 216)
}

li {
  list-style:none;
  margin: 1%;
}

button {
  border: 0.2rem solid rgba(20, 17, 207, 0.904);
  width: 8rem;
  height: 5rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

#btn-left {
  margin-left: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#btn-right {
  margin-right: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-active {
  background-color: rgb(36, 35, 35);
}

.aline-navbar {
  display: flex;
  align-items: flex-start;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

#sidebar-btn {
  font-size: larger;
}

.my-profile {
  width: 80rem;
  border: 0.3rem solid blue;
  border-radius: 1rem;
  margin: 5rem auto 5rem 30rem;
  display: flex;
  flex-direction: row;  
}

.card-profile{
  width: 80%;  
}

.oneBooking {
  border: 0.2rem solid blue;
  border-radius: 1rem;
  margin: 5%;
  padding: 2%;  
}

footer {
  max-height: 1rem;
}

.gallery, .eventsDisposition, .my-bookings {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.observatory{
  margin-top: 5%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.observatoryAddressCard {
  border: 0.1rem solid white;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.addressAndPhone {
  display: flex;
  flex-direction: column;
}

.address, .phoneContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.map-container {
  display: flex;
  justify-content: center;
}

.bookingSection {
  margin-top: 8%;
}

.curiosityCamerasText{
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.image-preview {
  margin: 2rem;
}

.zoomEffect:hover {
  transform: scale(1.75)  
}

.picDay {
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

.explanationDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

input, select {
  width: 30%;
  border: 0.2rem solid silver;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 999px;
  text-align: center;
}

textarea {
  border-radius: 1rem;
}

.usernameInput{
  background-image: url(./assets/userIcon.png);
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position: 2.8rem;
}

.emailInput{
  background-image: url(./assets/iconEmail.png);
  background-repeat: no-repeat;
  background-size: 3.7rem;
  background-position: 2rem;
}

.passwordInput{
  background-image: url(./assets/padlockIcon.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 3rem;
}

.countryInput{
  background-image: url(./assets/worldIcon.png);
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position: 2.9rem;
}

.cityInput{
  background-image: url(./assets/cityIcon.png);
  background-repeat: no-repeat;
  background-size: 2.6rem;
  background-position: 2.7rem;
}

.formBtn {
  width: 20%;
  margin: 3%;
  border-radius: 999px;
}

.toLog-toSignup-btn {
  width: 10%;
  border-radius: 999px;
}

.formDisposition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isAdminCheckBox input {
  width: 2%;
  margin-top: 2%; 
}

.eventCards {
  width: 15%;  
  border: 0.15rem solid blue;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1.5rem 1rem;
}

.imageCardEvent {
  margin-bottom: 2rem;
  width: 10rem;
}

h5 {
  color: silver;
}

.eventDetailsPage {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.eventDetailsCard {
  width: 40%;
  border: 0.3rem solid blue;
  border-radius: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#event-btn {
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.eventDetailsBtn{
  display: flex;
  flex-direction: row;
}

#event-detail-btn {  
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.forum {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;  
  border: 0.4rem solid;
  border-radius: 1rem;
  background-color: rgb(211, 203, 203);
}

.commentaries {
  border: 0.1rem solid black;
  width: 90%;
  border-radius: 1rem;
  background-color: antiquewhite; 
  color: black;
  text-align: left; 
}

.forum-btn {  
  font-size: 100%;
  font-weight: bold;
  color: black;
  background-color: antiquewhite;  
  padding: 1.5%;
  margin: 3%;
  border-color: black;
  border-radius: 2rem;  
}

.paymentStyles{
  display: flex;
  flex-direction: column;
}

.loadingRing {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  #btn-left {
    margin-left: 0px;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
  
  #btn-right {
    margin-right: 0px;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }  
}

