.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
  color: rgb(190, 179, 179);
}

button {
  border: 2px solid red;
  width: 200px;
  height: 30px;
  color: white;
  background-color: black;
}
